RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
MAIL_FROM=info@dynamiq.dev
MAIL_FROM_NAME=Dynamiq Solutions Inc
BUSINESS_NAME=Dynamiq Solutions Inc
BUSINESS_EMAIL=info@dynamiq.dev
BUSINESS_ADDRESS=100 Cherry Ln, Airmont, NY 10952
ADMIN_NOTIFY_EMAIL=
DB_PASSWORD=
